h1 {
    text-align: center;
    width: 0 auto;
    border: 1px black solid;
    color: white;
    background-color: black;
}
h2{
    text-align: center;
    color: white;
    background-color: black;
    border: 1px black solid;
}

.main-container{
    position: relative;
    height: 500px;
}

.container1{
 width: 500px;
 margin:0 auto;
 display: flex;
 justify-content:center;
 
}

.container2{
    width: 500px;
    margin:0 auto;
    display: flex;
    justify-content:center;
   }

button {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: hsla(1,1,1,0.5);
    border-radius: 50%;
}
